
<table class="table table-striped">
  <thead>
    <tr>
      <th>UserID</th>
      <th>Striche</th>
    </tr>
  </thead>
  <% @users.each do |user| %>
  <tr>
    <td><%= user.userID %> </td>
    <td><%= user.tallies.count %> </td>
  </tr>
  <% end %>
</table>
