<h1>Hello <%= @user.userID %></h1>

<div class="row">
  <div class="col-md-offset-3 col-md-6">
    <%= link_to 'Add Tally', {:controller => 'tallies', :action => 'new', :userID => @user.userID},
                       {:class => "btn btn-primary btn-block btn-lg", :role => "button", :method => :post } %>
  </div>
</div>

<div class="row">
  your tallies: <%= @user.tallies.count %>
</div>
